  <h2>Here are some things you can do : </h2>
  <ul>
    <li>
      <h3><a routerLink ="signup">
          <i class ="material-icons">Create a New Account</i>
        </a></h3>
      
    </li>
    <li>
        <h3><a routerLink ="login">
            <i class ="material-icons">Already Have an Account? Login Here.</i>
          </a></h3>
        
      </li>
      <li>
            <h3><a routerLink ="deposit">
                <i class ="material-icons">Deposit Money Here.</i>
              </a></h3>
            
          </li>
    <li>
          <h3>Logout</h3>
      </li>
    <li>
        <h3>Withraw/Deposit Money</h3>
    </li>
    <li>
        <h3>Check Your Account Balance</h3>
    </li>
  </ul>
